# Dependencias de Node.js
node_modules/

# Salidas de construcción
dist/
build/

# Archivos de registro
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Configuración de entornos
.env
.env.test
.env.production

# Directorios de cobertura de pruebas
coverage/

# Archivos de configuración de editores y sistemas operativos
*.DS_Store
*.vscode/
*.idea/
*.swp
*.swo
